<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Details</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <script src="./app.js"></script>
</head>
<body>
  <section id="detailsPage">
  <div class="homepageText"><h1>DETAILS FOR  <%=anime.title%></h1></div>

<form action="/add" method="post">
  <div><img src="<%= anime.image_url %>" /></div> 
<div class="details">
  <label> Id:</label> 
  <label name="id"><%=anime.id%></label> <br><br>
</div>


  <div class="details">
    <label> Title:</label> 
    <label name="title" id="title" value="<%= anime.title %>"><%=anime.title%></label> <br><br>
  </div>
 
  <div class="details">
    <label> Type:</label> 
    <label name="type"><%=anime.type%></label> <br><br>
  </div>
 
  <div class="details">
    <label> Rated:</label> 
    <label name="rated"><%=anime.rated%></label> <br><br>
  </div>
 
  <div class="details">
    <label> Episodes:</label> 
    <label name="episodes"><%=anime.episodes%></label> <br><br>
  </div>
 
  <div id="details">
    <label> Synopsis:</label> 
  <label name="synopsis"><%=anime.synopsis%></label> <br><br>
  </div>
  

  <label> Comments:</label> <br>
  <textarea name="comments" id="comments" cols="100" rows="7"></textarea><br><br>

  <label> My ranking:</label> <br>
  <select name="myRanking">   
    <option value="10" name="10" selected="selected">10</option>
    <option value="9" name="9">9</option>
    <option value="8" name="8">8</option>
    <option value="7" name="7">7</option>
    <option value="6" name="6">6</option>
    <option value="5" name="5">5</option>
    <option value="4" name="4">4</option>
    <option value="3" name="3">3</option>
    <option value="2" name="2">2</option>
    <option value="1" name="1">1</option>
  </select>
  <br><br>
  
  <label> My category: </label> <br>
  <input list="category" name="category" required>

  <datalist id="category">
    <% myCategories.forEach(category => {%>      
    <option value ="<%=category.category%>" > <%=category.category%></option>
    <%})%> 
  </datalist> <br><br>
  <button id="return" type="button" name="return" onclick="goBack()">Return</button>
  <button id="searchbutton" type="submit" name="add">Add to my list!</button>


  <input type="hidden" name="image_url" value="<%= anime.image_url %>">
  <input type="hidden" name="mal_id" value="<%= anime.mal_id %>">
  <input type="hidden" name="title" value="<%= anime.title %>">
  <input type="hidden" name="type" value="<%= anime.type %>">
  <input type="hidden" name="rated" value="<%= anime.rated %>">
  <input type="hidden" name="episodes" value="<%= anime.episodes %>">
  <input type="hidden" name="synopsis" value="<%= anime.synopsis %>">

</form>

</section>
</body>
</html>